.loginMainContainer {
    width: 100%;
    height: calc(100vh - 20px - 35px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loginForm {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(100px);
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }
  
  .loginPageLogo {
    width: 85px;
  }
  
  form {
    width: 75%;
  }
  
  input {
    display: block;
    padding: 10px 0px;
    width: 100%;
    border: none;
    border-bottom: 0.12rem solid white;
    margin-top: 30px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
  }
  
  input::placeholder {
    color: #fff;
    opacity: 75%;
  }
  
  input:focus {
    outline: none;
  }
  
  .loginBtn {
    margin-top: 30px;
    width: 100%;
    background-color: #171521;
    border: none;
    padding: 13px 20px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
  }
  
  .signupText {
    margin-top: 20px;
    font-size: 17px;
    color: #171521;
  }
  
  .signupText span {
    color: #161616;
    font-weight: 600;
  }
  
  .signupText span:hover {
    text-decoration: underline;
  }
  
  .termsAndConditionText {
    margin-top: 30px;
    font-size: 17px;
    color: #171521;
    width: 68%;
    text-align: center;
  }
  
  .termsAndConditionText span {
    text-decoration: underline;
  }

  .invalidEmailError{
    color: #dc3545;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
  }